<h2>Índice</h2>
<ul>
    <li><a href="/index.html"> Inicio</a></li>
    <li><a href="/pages/Variables.html">Variables</a></li>
    <li><a href="/pages/cbasicos.html">Conceptos básicos</a></li>
    <li><a href="/pages/Condicionales.html">Condicionales</a></li>
    <li><a href="/pages/Bucles.html">Bucles</a></li>
    <li><a href="/pages/Funciones.html">Funciones</a></li>
    <li><a href="/pages/intdom.html">Interactuando con el DOM</a></li>
    <li><a href="/pages/Eventos.html">Eventos y escuchadores</a></li>
    <li><a href="/pages/Timing.html">Timing en funciones</a></li>
    <li><a href="/pages/metnat.html">Métodos nativos</a></li>
    <li><a href="/pages/arrays.html">Arrays</a></li>
</ul>